{
    "presets": [
      ["es2015", { "modules": false }],
      "react",
      "airbnb"
    ],
    "plugins": [

    ],
    "env": {
      "test": {
        "plugins": [

        ]
      }
    }
  }
